.main-list__table--fixed-wrapper {
    position: relative;
}

.copy-column--left {
    position: absolute;
    top: 0;
    left: 15px; /* padding分の幅を取る */
    overflow: hidden;
}

.copy-column--right {
    position: absolute;
    top: 0;
    right: 15px; /* padding分の幅を取る */
}

/* 固定列カラー */
/* .main-list__table--fixed tbody tr td.fixed-column--left,
.main-list__table--fixed tbody tr td.fixed-column--right, */
.copy-column--left tbody tr td,
.copy-column--right tbody tr td {
    background-color: rgb(250, 250, 250);
}

.copy-header__row {
    position: absolute;
    top: 0;
    left: 15px; /* padding分の幅を取る */
    overflow: hidden;
}

.copy-header__row table {
    table-layout: fixed;
    width: 100%;
}

.copy-header__cell--left {
    position: absolute;
    top: 0;
    left: 15px; /* padding分の幅を取る */
}

.copy-header__cell--right {
    position: absolute;
    top: 0;
    right: 15px; /* padding分の幅を取る */
}

/* 詳細一覧用 */
.main-list__detail-table--wrapper {
    max-height: 230px;
}
